<div class="grant">
  <h3><%= grant.grantee %></h3>
  <h4><%= grant.organization_popular_name %></h4>
  <p>City: <%= grant.city.name %></p>
  <p>Amount: <%= number_to_currency grant.amount %> between <%= grant.start_date %> and <%= grant.end_date %></p>
  <p>Project: <%= grant.project_description %></p>
</div>
