<div class="grant">
  <h3><%= grant.grantee %></h3>
  <p><%= grant.organization_popular_name %></p>
  <p><span>City:</span> <%= grant.city.name %></p>
  <p><span>Amount:</span> <%= number_to_currency grant.amount %> between <%= grant.start_date %> and <%= grant.end_date %></p>
  <p><span>Project:</span> <%= grant.project_description %></p>
</div>
